*{
    margin: 0;
    padding: 0;
}

.main{
    /* border: 2px solid red; */
    height: 100vh;
    /* background: linear-gradient(to top, black, gba(255, 255, 255, 0.541)); */
    background: linear-gradient(to right, rgba(234, 98, 98, 1), orange);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(.5px);
    -webkit-backdrop-filter: blur(.5px);

}



.nav {
    /* border: 2px solid red; */
    height: 10%;
    color: black;
    font-family: 'Roboto Slab', sans-serif;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: white;
}

.home-icon{
    position: absolute;
    left: 0;
}

.nav > div{
   /* border: 2px solid white; */
   padding: 8px 12px;
   margin: 5px 8px;
   /* font-style: italic; */
   /* box-shadow: 1px 1px 1px grey; */
   cursor: pointer;
   font-size: .9rem;
   font-weight: 700;
}

.nav-links:hover{
    background-color: rgba(255, 255, 255, 0.473);
    color: black;
    transition: 1s;
    border: 1px solid black;
    border-radius: 3px 3px;
}


header{
    /* border: 2px solid red; */
    height: 60%;
    margin: 8px 8px;
    color: white;
    /* width: 100vw; */
    padding: 25px 25px;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-shadow: 5px;
}

.intro{
    font-family:'Roboto Slab', serif;

}

.intro-list{
    margin-top: 5px;
    display: flex;
    margin: 8px 8px;
    gap: 15px;
    font-size: 1.5rem;
    
}

.iconify{
    /* border: 2px solid white; */
    height: 20vh;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center
}

.iconify>i{
    cursor:pointer;
    transform: scale(var(--ggs,3));

}


.portfolio{
    /* border: 2px solid green; */
    padding: 0;
    height: 100vh;
    /* background: linear-gradient(to left, rgba(0, 153, 255, 0.678), white); */
    /* From https://css.glass */
    background: linear-gradient(to right, rgba(234, 98, 98, 1), orange);
    border-radius: 0px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(.5px);
    -webkit-backdrop-filter: blur(.5px);
    color: white;
}

.p-intro{
    padding: 35px 55px;
    font-family:'Roboto Slab', serif;

}

.p-serv{
    /* border: 2px solid red; */
    height: 50%;
    display: flex;
    justify-content: space-around;
    padding: 25px 25px;
    gap: 8px;
}

.p-serv > div{
    flex: 1;
    background: rgba( 255, 255, 255, 0.3 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 4.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    text-shadow: 5px;
    height: 60%;
    border-radius: 15px;
    /* margin: 15px 15px; */
}


.com-01>i{
    transform: scale(var(--ggs,2));
    margin: 15px 15px;
    /* position: relative */
}

.comm{
    /* padding: 15px 15px; */
    font-family:'Roboto Slab', serif;
    padding: 5px 5px;
    margin: 5px 15px;

}

footer > h3{
    display: flex;
    gap: 10px;
    margin: 15px 15px;
    justify-content: center;
    font-family:'Roboto Slab', serif;
}

a > i{
    position: absolute;
    right: 50%;
    height: 45px;
    font-size: 2rem;
}

@media (max-width: 700px){
    h4{
        font-size: .6rem;
    }

    .p-serv > div{
        height: 45%;
    }
    
    .com-01>i{
        transform: scale(var(--ggs,2));
        margin: 10px 15px;
        /* position: relative */
    }

}